:root{
    --buttonColor : white
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.intro--title{
    color: #293264;
    margin: 0;
}

.quiz-selector-container{
    width: 50%;
    display: grid;
    grid-template: auto auto /repeat(2,1fr);
    gap: 2rem 7rem;
}

.quiz-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #0b24df;
    font-size: 1.2rem;
    gap: 1rem;
}

.quiz-sub > input{
    text-align: center;
    border-radius: 10px;
    border: 2px solid #031163;
    color: #031163;
}

.amount-warning{
    font-size: 0.8rem;
    color: rgb(2, 1, 1);
}

.quiz-sub > select{
    text-align: center;
    border-radius: 10px;
    border: 2px solid #031163;
    background-color: white;
}

.quiz-sub > input:hover{
    background-color: rgb(180, 176, 176);
    color: white;
}

.quiz-sub > select:hover{
    background-color: rgb(180, 176, 176);
}

.intro--button{
    width: 193px;
    height: 52px;
    border: 0;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.main{
    padding: 30px 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-and-answer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.question{
    font-family: sans-serif;
    color: #293264;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.options{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}

.option-button{
    min-width:fit-content;
    height: 20.65px;
    text-align: center;
    padding: 0 15px;
    border: 0;
    cursor: pointer;
    color: #293264;
    border: 1px solid #4D5B9E;
    border-radius: 20px;
    background-color: var(--buttonColor);
}

.questions--linebreak{
    width: 100%;
    margin: 15px 0;
    border: 0.794239px solid #DBDEF0;
    left: -10px;
}

.submit{
    border: 0;
    width: 120px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    cursor: pointer;
}


.bottom-content{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    height: 35px;
    gap: 10px;
}

.score{
    color: #293264;
    margin: 0;
}

.retake-quiz{
    border: 0;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    cursor: pointer;
}