:root{
    --buttonColor : white
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro--title{
    color: #293264;
    margin: 0;
}

.intro--button{
    width: 193px;
    height: 52px;
    border: 0;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.question{
    font-family: sans-serif;
    color: #293264;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.option-button{
    min-width:fit-content;
    height: 20.65px;
    text-align: center;
    padding: 0 15px;
    border: 0;
    cursor: pointer;
    color: #293264;
    border: 1px solid #4D5B9E;
    border-radius: 20px;
    background-color: var(--buttonColor);
}

.clicked-option{
    min-width:fit-content;
    height: 20.65px;
    text-align: center;
    padding: 0 15px;
    border: 0;
    cursor: pointer;
    color: #293264;
    border: 1px solid #4D5B9E;
    border-radius: 20px;
    background-color: #D6DBF5;
}

.main{
    margin: 40px 75px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-and-answer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.options{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}

.submit{
    border: 0;
    width: 120px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    cursor: pointer;
}

.questions--linebreak{
    width: 100%;
    margin: 15px;
    border: 0.794239px solid #DBDEF0
}

.bottom-content{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    height: 35px;
    gap: 10px;
}

.score{
    color: #293264;
    margin: 0;
}

.retake-quiz{
    border: 0;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    cursor: pointer;
}